body{
  font-family:arial;
  padding:65px 0px 300px 0px;
}
.main-main{
  display:flex;
 justify-content:center;
}
.header-main-container{
  display:flex;
  flex:1;
  height:60px;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
  background-color:white;
}
.header-left-container{
  flex:2;
  display:flex;
  justify-content:center;
}
.black-amazon-logo-style{
  height:32px;
  width:100px;
  
}
.header-center-container{
  flex:3.8;
  display:flex;
  justify-content:center;
}
.checkout-font{
  font-size:30px;
}
.item-font{
  color:rgb(11, 136, 136);
}
.header-right-container{
  flex:1;
}
.main-containers{
  display:grid;
  grid-template-columns:2.2fr 1fr;
  column-gap:20px;
  max-width:1000px;
  width:100%;
}
/* product - overload -containers */
.product-overload-containers{
  display:grid;
  grid-template-columns:1fr;
  row-gap:10px;
}
/* Css code for Product Container */

.Container-for-Product{
  display:grid;
  grid-template-columns:1.5fr 1fr;
  border:0.5px solid gray;
  height:240px;
  padding:40px 30px 40px 30px;
  border-radius:5px;
}
.delivery-date-text{
  font-size:21px;
  color:green;
  margin-bottom:10px;
}
.product-left-container{
  display:grid;
  grid-template-columns:1.5fr 4fr;
  column-gap:20px;
}
.product-image-style{
  width:100%;
  height:100%;
  object-fit:contain;
}
.bill-container{
  display:grid;
  grid-template-columns:1fr;
  height:240px;
  border:2px solid yellow;
  padding:20px 20px 20px 20px;
}

.product-description{
  height:45px;
}
.product-description,.product-cost{
  font-size:18px;
  margin-bottom:10px;
}
.product-cost{
  color:rgb(252, 152, 21);
}
.product-quantity{
  font-size:17px;
  margin-right:5px;
}
.product-head-text{
  font-size:18px;
  margin-bottom:15px;
}
.product-update,.product-delete{
  font-size:18px;
  color:rgb(6, 123, 219);
  margin-right:5px;
}
.product-update:hover,.product-delete:hover{
  font-size:18px;
  color:#ff0000;
  cursor:pointer;
}
.option-main-container{
  display:flex;
  align-items:center;
  margin-bottom:20px;

}
.qua-space{
  margin-right:5px;
}
.quantity-container{
  display:flex;
  flex-direction:row;
}

.product-right-container{
  display:flex;
  justify-content:start;
  align-items:start;
  flex-direction:column;
  margin-left:15px;
  font-size:16px;
  margin-top:34px;
}
.bill-container{
  width:100%;
  border:1px solid gray;
  border-radius:4px;
  padding:15px 20px 40px 20px;
 height:320px;
}
.calculate-cost-item-container,.calculate-cost-shipping-container,.calculate-cost-beforetax-container,.calculate-cost-Estimated-tax-container,.calculate-cost-Total-container{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.paypal-option-container{
  margin-top:20px;
  display:flex;
  align-items:center;
  justify-content:start;
  column-gap: 10px;
}
.item-text,.rupees,.shipping-text,.totalBefore-text,.estimated-text,.paypal-text{
  font-size:17px;
  margin-bottom:10px;
}
.line-difference{
  height:3px;
  background-color:rgb(255, 129, 11);
}
.order-total-text,.rupees-total{
  font-size:20px;
  color:brown;
}
.checkbox-font{
  height:20px;
  width:20px;
}
.final-order-button{
  height:40px;
  width:100%;
  font-size:17px;
  border:none;
  border-radius:3px;
  background-color:rgb(252, 214, 0);
  margin-top:20px;
}
.dyna-drop{
  height:25px;
  width:40px;
}
@media screen and (max-width:1000px){
  .Container-for-Product{
    display:grid;
    grid-template-columns:1fr;
    height:280px;
    padding:30px 20px 50px 20px;
    max-width:400px;
    min-width:350px;

  
  }
  .product-right-container{
    margin-left:2px;
    margin-top:0px;
  }
  .option-main-container{
 margin-bottom:4px;
  }
  .main-containers{
    display:flex;
   flex-direction:column-reverse;
    column-gap:20px;
    justify-content:center;
  }
  .bill-container{
    width:100%;
   max-width:400px;
   min-width:350px;
  }
  
  .image-specify-container{
    height:120px;
   width:120px;
    display:flex;
    justify-content:center;
  }
  
}
