/*  Styles for the Inputs */
.image-passing-style,.description-style,.stars-style,.cost-style{
  height:30px;
  width:300px;
  border:2px solid green;
  font-size:15px;
}
.RemoveIndex,.CountToRemove{
  height:30px;
  width:300px;
  border:2px solid red;
  font-size:15px;
}
.Item-Add-Button-style{
  height:30px;
  border:none;
  background-color:green;
  color:white;
  font-size:20px;
  margin-top:10px;
  border-radius:5px;
  Cursor:pointer;
  display:block;
}
.Remove-to-cart-button-style,.Remove-Selected-Items{
  height:30px;
  border:none;
  background-color:red;
  color:white;
  font-size:20px;
  margin-top:10px;
  border-radius:5px;
  Cursor:pointer;
}
