body{
  margin:63px 245px 10px 245px;
 
  font-family:arial;
}
.header-container{
  display:flex;
  height:80px;
  background-color:rgba(231, 225, 226, 0.829);
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  border:0.5px solid gray;
}
.left-header-container{
  width:265px;
  display:flex;
  align-items:center;
}
.left-left-container{
  width:145px;
  padding-left:25px;
}
.left-left-uptext,.left-right-uptext{
  font-size:18px;
}
.left-left-downtext,.left-right-downtext{
  font-size:16px;
}
.right-header-container{
  flex:1;
  display:flex;
  justify-content:end;
  padding-right:20px;
  align-items: center;
}
.right-uptext{
font-size:16px;
}
.right-downtext{
  font-size:18px;
}
/* css code for main grid Body*/
.main-container-orders{
  display:grid;
  grid-template-rows:1fr;
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
  border:0.5px solid gray;
}
/* css code for specific Body*/
.specific-container-orders{
  height:200px;
  display:flex;
  padding:40px 20px 10px 20px;
}
.cart-image{
height: 150px;
padding-right:30px;
width:120px;
}
.middle-container-orders{
  flex:1;
  line-height:30px;
}
.middle-first-text{
  font-size:20px;
  font-weight:bold;
}
.middle-third-text{
margin-bottom:10px;
}
/* css code for Buy Button*/
.Buy-button{
width:130px;
height:35px;
background-color:rgb(223, 220, 9);
border:none;
border-radius:7px;
cursor:pointer;
}
.container-buy-button{
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.image-inside-buy-button{
height:25px;
width:28px;
}
.buy-text{
 font-size:15px;
}
/*css code for right container order*/
.right-container-orders{
  width:280px;
}
.track-button{
  width:220px;
  height:35px;
  font-size:18px;
  border:0.5px solid gray;
  background-color:white;
  border-radius:5px;
  cursor:pointer;
}